.carousel-gql-container {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.carousel-gql {
  margin: 2rem auto;
}

.card {
  max-width: 400px;
  max-height: 400px;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--color-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: var(--color-black);
}

.image-wrapper {
  width: 400px;
  height: 194px;
}

.card p:first-of-type {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.card p:nth-of-type(2) {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 82, 115, 1);
  line-height: normal;
}

.card p:nth-of-type(3) {
  font-size: 14px;
  font-weight: 100;
  line-height: 1.25rem;
  padding-top: 7px;
}

.carousel-container {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.carousel-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10%;
  margin: 2rem 0 0;
}

.carousel-container .card:not(.active) {
  display: none;
}

.carousel-nav .left-arrow,
.carousel-nav .right-arrow {
  padding: 10px;
  background-color: transparent;
  margin-top: 0;
  border: none;
  cursor: pointer;
}

.left-arrow img,
.right-arrow img {
  max-width: 30px;
}
